process{
  containerOptions = '-B /home/'
  container = 'kevinr9525/test:dev'
}

singularity.enabled = true
singularity.autoMounts = true

params{
  input = "/home/kevin/rtp_workshop/test-datasets/fastq/*_{1,2}.fastq.gz"
}

singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = '/home/kevin/containers'
