process{
  container = 'kevinr9525/test:dev'
  containerOptions = '-B /home/'
}

params{
  input = "/home/kevin/rtp_workshop/test-datasets/fastq/*_{1,2}.fastq.gz"
  fasta = "/home/kevin/rtp_workshop/test-datasets/reference/chrI.fa"
  gtf = "/home/kevin/rtp_workshop/test-datasets/reference/chrI.gtf"
  outdir = "/home/kevin/rtp_workshop"
}

singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = '/home/kevin/containers'

profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }
    test { includeConfig 'conf/test.config' }
}

